extends /views/layout

block head-meta
	title Hello Module
	
block content
	if user
		a(href="/auth/logout") #{__('Logout')} !{encodeForHtml(user.username || user.displayName)}
	else
		a(href="/auth/login") #{__('Login')}
	div #{__('Hello Module')}