extends /views/layout

block head-meta
    title Login Module
    
block content
    form(action=(baseUrl || '') + "/local", method="post")
        label #{__('Username')}
            input(type="text", name="username")
        label #{__('Password')}
            input(type="password", name="password")
        input(type="submit", value=__('Login'))

    a(href=(baseUrl || '') + "/google") #{__('Login')} #{__('with Google')}