extends layout

block head-meta
    title Error #{err.status || 500}
    
block content
    h1 Error #{err.status || 500}

    if err.msg
        strong #{err.msg}

    if err.stack
        pre
            code #{err.stack}

    if env == 'development'
        pre
            code #{JSON.stringify(locals)}
