doctype
html.no-js(lang=locale)

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block head-meta
            if (page)
                if (page.title)
                    title #{page.title}
                if (page.description)
                    meta(name="description", content=page.description)
        if 'development' == env
            link(rel="stylesheet", href="/vendors/normalize-css/normalize.css")
            link(rel="stylesheet", href="/vendors/bootstrap/dist/css/bootstrap.css")
            link(rel="stylesheet", href="/styles/styles.css")
        else
            link(rel="dns-prefetch", href="//cdnjs.cloudflare.com")
            link(rel="stylesheet", href="/styles/styles-built.css")
        block head-css
        block head-js

    body
        
        block content

        if 'development' == env
            script window.jQuery || document.write('<script src="/vendors/jquery/dist/jquery.js"><\/script>')</script>
            script (typeof $().emulateTransitionEnd === 'function') || document.write('<script src="/vendors/bootstrap/dist/js/bootstrap.js"><\/script>')</script>
            script(src="/scripts/scripts.js")
        else
            script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
            script window.jQuery || document.write('<script src="/vendors/jquery/dist/jquery.min.js"><\/script>')</script>
            script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js")
            script (typeof $().emulateTransitionEnd === 'function') || document.write('<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"><\/script>')</script>
            script(src="/scripts/scripts-built.js")
        if 'development' == env
            pre #{JSON.stringify(locals)}
        block foot-js